<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8">
		<title>考勤记录</title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/public.css" />
		<script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="centercontent">
			<div class="pageheader">
				<center>
					<h2 class="pagetitle">考勤记录</h2></center>
			</div>
			<hr />
			<div class="contentwrapper">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<form id="attendanceTimeSearch" action="" method="post">
							<!--时间搜索-->
							<div class="navbar-header col-lg-3 search-div">
								<label for="dtp_input1" class="col-md-4 control-label navbar-header top-label">选择年月搜索:</label>
								<div class="input-group date form_datetime_month col-md-8 " data-date="2019-12-01" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
									<input class="form-control" size="16" type="text" value="" id="datetime" readonly>
									<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
								</div>
								<input type="hidden" id="dtp_input1" value="" /><br/>
							</div>
						</form>
					</div>
				</nav>
				<div class="main_table">
					<table class="table table-hover">
						<!--<caption>职务信息</caption>-->
						<thead>
							<tr>
								<th>工号</th>
								<th>姓名</th>
								<th>出勤天数</th>
								<th>迟到早退次数</th>
								<th>旷工天数</th>
								<th>请假天数</th>
								<th>统计年月</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="attendanceInfoTabs">
							<tr>
								<td><a href="#">00001</a></td>
								<td>张三</td>
								<td>18 天</td>
								<td>3 次</td>
								<td>0 天</td>
								<td>2 天</td>
								<td>2019 年 12 月</td>
								<td><a href="attendance_detail.html"><button class="btn btn-primary" onclick="btn_monthDetail()">查看本月详情</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--table-responsive end-->
			</div>
			<!--contentwrapper end-->
		</div>
		<!--centercontent end-->
	</body>

</html>