<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>考勤配置信息</title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/public.css" />
		<link rel="stylesheet" href="../css/index/attendance_rule.css" />
		<script src="../js/public/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="centercontent">
			<div class="pageheader">
				<center>
					<h2 class="pagetitle">考勤配置信息</h2></center>
			</div>
			<hr/>
			<div class="contentwrapper">
				<div class="main_table">
					<div class="col-md-12 mb-3"><br></div>
					<div class="form-row">
						<div class="col-md-3 mb-3">
							<label for="work_hours">规定上班时间</label>
							<input type="text" class="form-control is-valid" id="work_hours" name="work_hours" placeholder="work_hours">
						</div>
					</div>
					<!--分隔-->
					<div class="form-row">
						<div class="col-md-12 mb-3"><br/><br/></div>
					</div>
					<div class="form-row">
						<div class="col-md-3 mb-3">
							<label for="ow_hours">规定下班时间</label>
							<input type="text" class="form-control is-valid" id="ow_hours" name="ow_hours" placeholder="ow_hours">
						</div>
					</div>
					<!--分隔-->
					<div class="form-row">
						<div class="col-md-12 mb-3"><br/><br/></div>
					</div>

					<div class="col-md-3 mb-3">
						<label for="break_type">休息类型</label>
						<select name="" class="form-control">
							<option value="1" selected>单休</option>
							<option value="2">双休</option>
						</select>
					</div>

					<!--分隔-->
					<div class="form-row">
						<div class="col-md-12 mb-3"><br/><br/></div>
					</div>

					<div class="form-row">
						<div class="col-md-3 submit_button">
							<button class="btn btn-primary center-block  btn-info">保  存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>