<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>员工管理页</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/index/employee_manage.css"/>
		<script src="../js/public/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/self/public.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="centercontent">
			<div class="pageheader">
				<center>
					<h2 class="pagetitle">员工管理</h2></center>
			</div>
			<hr />
			<div class="contentwrapper">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<form action="" method="post">
							<!--时间搜索-->
							<div class="navbar-header col-lg-3 search-div">
								<label for="dtp_input1" class="col-md-4 control-label navbar-header top-label">选择年月搜索:</label>
								<div class="input-group date form_datetime_month col-md-8 " data-date="2019-12-01" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
									<input class="form-control" size="16" type="text" value="" id="datetime" readonly>
									<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
								</div>
								<input type="hidden" id="dtp_input1" value="" /><br/>
							</div>

							<!--职位搜索-->
							<div class="navbar-header col-lg-2 search-div">
								<select class="form-control">
									<option value="">选择职位</option>
									<option value="">dq</option>
									<option value="">cx</option>
									<option value="">xx</option>
								</select>
							</div>
							
							<!--员工状态搜索-->
							<div class="navbar-header col-lg-2 search-div">
								<select name="" class="form-control">
									<option value="" selected>员工状态</option>
									<option value="1" >在职</option>
									<option value="0">离职</option>
								</select>
							</div>

							<!--关键字-->
							<div class="navbar-header col-lg-2 search-div">
								<input type="text" class="form-control" name="positionname" placeholder="员工姓名/员工工号/员工电话/杜倩">
							</div>

							<div class="navbar-header search-div">
								<button type="submit" class="btn btn-primary"> 查 询</button>
							</div>
							
							<!--添加员工-->
							<div class="submit_button">
								<button type="button" class="btn btn-primary" >添加员工</button>
							</div>
							
						</form>
					</div>
				</nav>
				<div class="main_table">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>员工工号</th>
								<th>员工姓名</th>
								<th>性别</th>
								<th>年龄</th>
								<th>入职时间</th>
								<th>职位</th>
								<th>身份类型</th>
								<th>密码</th>
								<th>联系方式</th>
								<th>在职状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="attendanceInfoTabs">
							<tr>
								<td><a href="#">00001</a></td>
								<td>小小</td>
								<td>女</td>
								<td>18</td>
								<td>2019-12-04</td>
								<td>工程师</td>
								<td>普通员工</td>
								<td>123456</td>
								<td>13517442323</td>
								<td>在职</td>
								<td>
									<a>修改信息</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>

</html>